.employer-page-container {
    margin-top: 20px;
    margin-bottom: 20px;

   h1 {
       margin-top: 15px;
       margin-bottom: 15px;
   }

    .employees-table {
        background-color: $clr2;
        .working {
            color: green;
        }

        .not-working {
            color: red;
        }

        td, th {
            text-align: center;
            padding: 20px;
        }
    }

    .add-container {
        justify-self: flex-end;
    }


    button {
        padding: 10px;
        border: none;
        background-color: $clr2;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 1px black;
        margin-top: 10px;
        margin-bottom: 10px;
    }
.add-btn {
    margin-top: 20px;
}
  
}
