.login-container {
    margin: 50px auto ;
    padding: 20px;
    width: 400px;
    height: 290px;
    background-color: $clr2;



    .login-header {
        text-align: center;
    }

    .sign-in-btn {
        margin-top: 20px;
    }
}