.login-container {
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    height: 290px;
    background-color: $clr2;
    box-shadow: 0 0 6px 0px black;

    .login-header {
        text-align: center;
    }

    .sign-in-btn {
        margin-top: 20px;
        padding: 10px;
        border: none;
        background-color: #c0c0c070;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 1px black;
    }

    @include for-mobile-layout {
        width: 100%;
    }
}
